<!-- <p>tabla works!</p> -->

<!-- <table class="table table-striped" >
  <thead>
    <tr>
      @for(columna of columnas; track $index){
      <ng-container>
        <th>{{ formatearNombreDeColumnas(columna) }}</th>
      </ng-container>
      }
      @if(mostrarColAcciones){
        <th>Acciones</th>
      }
    </tr>
  </thead>
  <tbody>
    @for(item of data; track $index){
    <tr>
      @for (columna of columnas; track $index) {@if (isFecha(item[columna])) {
      <ng-container>
        <td>{{ item[columna] | date : "mediumDate" : "UTC" }}</td>
      </ng-container>
      } @else{
        <ng-container>
          <td>{{ item[columna] }}</td>
        </ng-container>
      }}
      @if(mostrarColAcciones){
        <td class="text-center">
          <button type="button" class="btn btn-info" (click)="enviarInformacion(item)">Info</button>
        </td>
      }
    </tr>
    }
  </tbody>
</table> -->

